<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="assets/icons/favicon.ico" />
  <title>Smartians</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body style="background-color: #fff3fe; font-family: Arial, sans-serif; margin: 1%; padding: 0;">
  <header>
    <h1 style="background-color: #faedff; font-weight: normal;">Welcome To Smartians home of Scribo the challenging word
      game</h1>
  </header>
  <main>

    <section>
      <!-- Left Column -->
      <div class="columnLeft" style="float:left; width: 10%; background-color: #fff3fe;">
        <a href="terms.html" style="text-decoration: none; color: inherit;">
          <h2 style="font-size: medium; font-weight: normal; color:blue">Terms and Conditions</h2>
        </a>
      </div>
      <!-- Middle Column -->
      <div class="columnCenter" style="float:left; width: 70%; background-color: #fff3fe;">
        <a href="https://scribo.smartians.co.uk" target="_blank" style="text-decoration: none; color: inherit;">
          <h2 style="font-size: medium; font-weight: bold; color:blue">Play Scribo free online</h2>
          <img src="assets/images/scribo-icon-512.png"
            style="float:left; max-width: 2%; height: auto; margin-right: 10px;" alt="Scribo the word game" />
          <p style="font-size: medium; font-style: italic; color: blue;">Scribo lives here ...</p>
        </a>

        <p>Scribo is a free to play word game that challenges your vocabulary and spelling skills. '
          'Click the link above to play Scribo online</p>
        <header>How to play. <span style="color:darkred; font-weight: bold;">VERY IMPORTANT</span> and useful
          information
          follows, please
          stand by ...</header>
        <div style="margin-bottom: 10px;"></div>
        <p>Simply move (drag) the tiles from the picker (on the left) to the board in the middle. When you make a word
          it is indicated on the board, and added to the pile of words you have discovered so far.</p>

        <img src="assets/images/scribo-play-1.gif" style="max-width: 80%; height: auto;"
          alt="Scribo the word game board" />
        <p>You might have noted each tile has a value as well as a letter. As you make words the value of the word is
          added to your scores. You score for all the words you find, ones on the board, and a board completion score.
        </p>
        <img src="assets/images/scribo-scores-1.png" style="max-width: 100%; height: auto;"
          alt="Scribo the word game scores" />
        <img src="assets/images/scribo-play-2.gif" style="max-width: 80%; height: auto;"
          alt="Scribo the word game board" />
        <div style="margin-bottom: 10px;"></div>
        <p>You are given two clue tiles, these are the blue ones, and a bonus tile, the pink one.
          Any words crossing the bonus tile get double points.</p>
        <p>Once you have compleated the board (all tiles except bonus and clue tiles are green), you receive a bonus
          score,
          and you can keep on playing to see if you can discover more words or get an even higher score for the board
          words.</p>
      </div> <!-- Middle Column -->
      <!-- Right Column -->
      <div class="columnRight" style="float:left; width: 20%; background-color: #dcdcdc;"></div>
      <div style="clear: both;"></div>
    </section>
    <section>
      <div></div>
    </section>

  </main>
  <footer>
    <p style="font-size:x-small; font-style: italic;">&copy; 2026 lute@smartians.co.uk. All rights reserved.</p>
  </footer>
</body>

</html>