<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="assets/icons/favicon.ico" />
  <title>Terms and Conditions - Smartians</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body style="background-color: #fff3fe; font-family: Arial, sans-serif; margin: 1%; padding: 0;">
  <header>
    <a href="index.html" style="text-decoration: none; color: inherit;">
      <h2 style="font-size: medium; font-weight: bold; color:blue; float:left;">Back</h2>
      <h1 style="background-color: #faedff; font-weight: normal;">Terms and Conditions</h1>
    </a>
  </header>
  <main>
    <section>
      <p>By using this site you agree to the following terms and conditions.</p>
      <p>Scribo is in Early Release, sometimes called beta. While the gameplay is mainly resolved there are design
        decisions around scoring.</p>
      <p>As the scoring system is being developed, the scoring system may change, and your scores may be reset.</p>
      <p>You do so at your own liability. The site is provided as is, and we make no warranties or guarantees about the
        content or functionality of the site.</p>
    </section>
  </main>
  <footer>
    <p style="font-size:x-small; font-style: italic;">&copy; 2026 lute@smartians.co.uk. All rights reserved.</p>
  </footer>
</body>

</html>